body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#222222;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

label {
    display: inline-block;
    width: 140px;
}

ul{
    list-style-type: none;
    padding: 0px;
}

.game-title{
    margin-bottom: 14px;
    font-size: 1.4em;
    border: solid black 1px;
    padding: 6px 80px 6px 80px;
    cursor: pointer;
    text-align: center;
}


#game-list-container{
    float: left;
}

#game-details-container {
    width: 400px;
}

#add-game-form{
    margin-bottom: 100px;
}

#game-details-title{
    font-size: 2em;
}

#game-details-description{
    padding: 10px 0px 10px 20px;
}

.selected {
    background-color : #dddddd;
}

.form-row{
    margin-bottom: 10px;
}

.add-button{
    padding: 20px 20px 20px 20px;
    border: solid black 1px;
    cursor: pointer;
}

.tab-button{
    padding: 10px 20px 10px 20px;
    border: solid black 1px;
    cursor: pointer;
    margin-left: 30px;
    height: 20px;
}

#main{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}


